@media screen and (max-width:1200px) {
    .section-5 {
        padding: 0;
    }

    .section-8 {
        .info {
            flex-basis: 30%;
        }
    }
}



@media screen and (max-width:856px) {
    .section-2 {
        padding: 0;

        .info {
            padding: 54px 0;
        }
    }

    .section-3 {
        ul.list {
            grid-template-columns: repeat(1, 1fr);

            .list__item:nth-child(2n) {
                text-align: right;
            }
        }
    }

    .section-6 {
        padding: 0;

        .info {
            padding: 125px 0 125px 70px;
        }
    }

    .section-7 {
        ul.list {
            flex-direction: column;

            .list__item {
                width: 100%;
                max-width: none;
                flex-grow: 1;
            }
        }
    }

    .section-8 {
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .form {
            align-items: center;
        }
    }
}

@media screen and (max-width:770px) {
    .section-4 {
        .info {
            h4 {
                font-size: 22px;
            }
        }

    }

    .section-6 {
        .info {
            padding: 0;
            width: 100%;

            .list {
                display: flex;
                flex-direction: column;

                align-items: center;

                .list__item {
                    text-align: center;

                    .title {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .header {
        .container {
            align-items: center;

            #hamburger {
                display: block;
            }

            #navigation {
                display: none;
            }

            #navigation-mobile {
                display: block;
            }
        }
    }
}

@media screen and (max-width:638px) {
    .section-2 {
        .info {
            gap: 30px;
            flex-direction: column;
            margin: 0 auto;
            width: 100%;

            .list {


                .list__item {

                    &.center:before,
                    &.center:after {
                        display: none;

                    }


                }
            }

            .text-info {
                text-align: center;

                p {
                    margin: 0 auto;
                }
            }
        }
    }

    .section-4 {
        padding: 40px 10px 0 60px;

        .info {
            h4 {
                font-size: 22px;
            }
        }

    }
}

@media screen and (max-width:526px) {
    .section-5 {
        .wrapper {
            padding: 22px 55px 22px 25px;
        }
    }

    .footer {
        .container {
            .links {
                flex-direction: column;
                gap: 10px;
            }
        }

    }
}

@media screen and (max-width:494px) {
    .header {
        .container {
            #navigation-mobile {
                bottom: -371px;

                .list {
                    grid-template-columns: repeat(1, 1fr);

                    .list__item a {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:492px) {
    .section-1 {
        margin-bottom: 100px;
    }

    .section-2 {
        margin-bottom: 70px;
    }

    .section-3 {
        margin-bottom: 70px;

        .list {
            gap: 70px;
        }
    }

    .section-4 {
        margin-bottom: 70px;
    }

    .section-5 {
        margin-bottom: 50px;
    }

    .section-8 {
        .form {
            width: 350px;
        }
    }

    .section-5 {
        .wrapper {
            padding: 0;
            border: none;

            &::after,
            &::before {
                display: none;
            }
        }
    }

    body.dark .section-5 .wrapper,
    body.dark .section-5 .wrapper:after,
    body.dark .section-5 .wrapper:before {
        border: none;
    }
}

@media screen and (max-width:402px) {
    .section-3 .list .list__item {
        padding: 20px 0 0 0;
        position: relative;
    }
}


@media screen and (max-width:382px) {
    .section-4 {
        .info {
            h4 {
                line-height: 36px;
                margin-bottom: 20px;
            }
        }
    }

    .section-8 {
        .form {
            width: 300px;
        }
    }


}